.added-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 1rem;
  list-style: none;
}

.card_heading {
  width: 95vw;
  font-size: 4rem;
  font-weight: 700;
  margin: 1.5rem;
  text-align: center;
}

.category-name {
  width: 95vw;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1.5rem;
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}

.card-item {
  padding: 0.5rem;
  width: 15vw;
  height: 45vh;
  border-radius: 1rem;
  border: 1px solid #f18305;
  text-align: center;
  cursor: pointer;
}

.cart-item {
  padding: 0.5rem;
  width: 15vw;
  height: 50vh;
  border-radius: 1rem;
  border: 1px solid #f18305;
  text-align: center;
  cursor: pointer;
}

.cart-item img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: color-burn;
  align-items: center;
}

.card-item img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: color-burn;
  align-items: center;
}

.card-item img:hover {
  pointer: cursor;
  width: 110%;
  height: 60%;
}

.cart-btn{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.1rem; 
}

.cart-btn button{
  width: 12vw;
  height: 6vh;
  padding: 0.4rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.8rem;
  color: white;
  background-color: orange;
  font-weight: 500;
}

.cart-btn span {
  font-size: 1.5rem;
  
}

.add-to-cart-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h4{
  font-size: 1.3rem;
}